body 
{
    background-color: #FFF;
    font-family: sans-serif;
    color: #000;
}
nav .logo
{
    line-height: 70px;
    padding-left: 110px;
}
nav
{
    height: 70px;
    background: #555555;
    box-shadow: 0 3px 15px #000;
}
nav ul
{
    float: right;
    margin-right: 30px;
}
nav ul li
{
    display: inline-block;
}
nav ul li a
{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 18px;
    background: #555555;
    transition: .5s;
}
nav ul li a:hover, nav ul li a.active
{
    color: #2391db;
}
nav ul ul
{
    position: absolute;
    top: 85px;
    border-top: 3px solid #2391db;
    opacity: 0;
}
nav ul li:hover > ul
{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}
nav ul ul li
{
    width: 250px;
    display: list-item;
    position: relative;
    border: 2px solid #555555;
    border-top: none;
}
nav ul ul li a
{
    line-height: 50px;
}
h1,p
{
    text-align: center;
}
.button 
{
    border: none;
    padding: 7px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40x 40px;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px;
}
.button1
{
    background-color: #e7e7e7;
    color: black;
}
.button2
{
    background-color: #555555;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}